/* basically as product card */

.product-card {
cursor: pointer;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border: 1px solid #e5e5e5;
  margin: 0 2rem;
  min-width: 15rem;
  max-width: 20rem;
  min-height: 15rem;
  max-height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
}
.product-card:hover {
  box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.2);
}

.product-card .product-image-container {
    flex-basis: 60%;
    max-height: 60%;
}

.product-card .product-image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-card .product-wishlist-button {
    position: absolute;
    background-color: white;
    width: 2rem;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    border-radius: 50%;
    font-size: 1rem;
    top: 5px;
    right: 5px;
    z-index: 1;
    border: 1px solid #e5e5e5;
}

.product-card .product-wishlist-button.in-wishlist {
    color: #ff0000;
}

.add-to-cart-btn {
    height: 4rem;
    width: 100%;
    background-color: rgb(172, 172, 172);
    font-size: 1.5rem;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
}

.add-to-cart-btn:hover {
    background-color: #FCAA67;
}
.go-to-cart-btn {
    height: 4rem;
    width: 100%;
    background-color: rgb(69, 72, 255);
    color: white;
    font-size: 1.5rem;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
}

.go-to-cart-btn:hover {
    background-color: #1e7e01;
}

.product-card .product-descrition {
    padding: 0.5rem 1rem;
}
.product-card .product-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.product-card .product-price {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}