.product-wishlist-page {
    margin-top: 10vh;
}

.wishlist-title {
    font-size: 3rem;
    font-weight: 600;
    padding: 2rem;
}

.wishlist-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
}
.move-to-cart-btn {
    height: 4rem;
    width: 100%;
    background-color: rgb(172, 172, 172);
    font-size: 1.5rem;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
}
.move-to-cart-btn:hover {
    background-color: #fa3b4b;
    color: #e2e2e2;
}